body {
  background-color: grey;
  overflow: hidden;
}

canvas {
    border: none;
    border: 5px solid black;
    position: absolute;

    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display:absolute;
}

#messages {
  min-height: 50vh;
}

#stage {
  width: 600px;
  height: 600px;
}

#ui-layer {
  z-index: 3;
}
#game-layer {
  z-index: 2;
}
#background-layer {
  z-index: 1;
}