body {
  background-color: grey;
  overflow: hidden;
}

#imgCanvas {
    border: none;
    z-index: 2;
    filter: grayscale(7%) hue-rotate(-10deg) contrast(100%) sepia(10%);
    border: 5px solid black;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

